body {
	background-color: black;
	margin: 0;
	width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.padre {
	width: 960px;
	height: 100px;
	background-color: #f2f2f2;
	position: initial;
	top: 0;
}

.nava {
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.logo {
	float: left;
	width: 50px;
}

.logo a img {
	width: 100px;
	margin-left: 20px;
	display: inline-block;
	margin-top: 0.6em;
}

.logo a img:hover {
	transform: scale(1.3);
	transition: 0.5s ease;
}

.menu {
	float: right;
	list-style: none;
}

.menu ul li {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.menu ul li a {
	color: darkcyan;
	margin: 1.8em;
	text-decoration: none;
	display: block;
}

.menu ul li a:hover {
	transform: scale(2);
	transition: 0.5s ease;
}

.submenu {
	position: absolute;
	display: none;
	width: 120%;
	background-color: #f2f2f2;
	text-align: center;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.submenu li a {
	display: block;
}

.menu li:hover .submenu {
	display: block;
}

.imagen {
	background-image: url("imagenes/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: soft-light;
	min-height: 100vh;
}

.texto {
	text-align: center;

	display: inline-block;
}

.texto h1 {
	height: 180px;
	line-height: 180px;
	color: rgb(255, 255, 255);
	text-shadow: 4px 4px 7px black;
	font-family: "Courgette", cursive;
	font-size: 3em;
}

.texto p {
	color: rgb(255, 255, 255);
	padding: 3em;
	font-size: 1.8em;
}

.redes img {
	width: 35px;
}

.footer {
	background-color: #f2f2f2;
	color: darkcyan;
	width: 960px;
	margin: 0;
	padding: 0;
}

.footer h4 {
	text-align: center;
	padding: 2.5em;
	margin: 0;
}

#contenedor {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	position: relative;
	height: 100%;
}

.contacto {
	background-image: url("imagenes/hero2.jpg");
	height: 800px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: soft-light;
}

.title-contactenos {
	text-align: center;
	font-size: 1.8em;
	padding: 3em;
}

.title-contactenos h1 {
	text-shadow: 4px 4px 7px black;
	font-family: "Courgette", cursive;
	font-size: 50px;
	margin-bottom: 30px;
	color: rgb(255, 255, 255);
}

form {
	width: 45%;
	margin: auto;
	background: rgba(0, 0, 0, 0.4);
	padding: 0.6em 1.2em;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 15px;
	height: auto;
}
@media (max-width: 480px) {
	form {
		width: 100%;
	}
}

input,
textarea {
	width: 100%;
	margin-bottom: 1.2em;
	padding: 0.5em;
	box-sizing: border-box;
	font-size: 1.1ems;
	border: none;
}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

#botton {
	background: #36767a;
	color: #cfe0ec;
	padding: 1.2em;
}

#botton:hover {
	cursor: pointer;
	background-color: #5d7cca;
	transition: 0.3s ease;
}

/*  Galeria */

#cards {
	background-image: url("imagenes/servicios.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: soft-light;
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
}

#galeria {
	align-content: center;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	margin: 0.3em;
}

#contenedo-card {
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2em;

	-moz-box-shadow: 0px 0px 30px #ffffff;
	-webkit-box-shadow: 0px 0px 30px #ffffff;
	box-shadow: 0px 0px 30px #ffffff;
	border-radius: 30px;
}

.img img {
	width: 100%;
	height: 190px;
	border-radius: 30px;
}

.cuerpo a {
	text-decoration: none;
}

.cuerpo h1 {
	text-align: center;
	color: darkcyan;
}

/* revelado */

.contv {
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 960px;
	height: 100vh;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: -100;
}

.contv video {
	min-width: 960px;
	min-height: 100%;
}

.header-overlay {
	position: fixed;
	height: 100%;
	width: 960px;
	top: 50%;
	left: 50%;
	background: #225470;
	z-index: -100;
	opacity: 0.3;
	margin-left: auto;
	margin-right: auto;
	transform: translateX(-50%) translateY(-50%);
}

.revelado {
	height: 100%;
	width: 100%;
	display: flex;
	padding-bottom: 6.5em;
}

.revelado ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
	align-items: center;
}

.revelado ul li {
	list-style: none;
}

.revelado ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 1.2em;
}

.revelado ul li a:hover {
	transform: scale(1.05);
	transition: 0.5s ease;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

#r-texto h1 {
	text-align: center;
	line-height: 180px;
	color: rgb(255, 255, 255);
	text-shadow: 4px 4px 7px black;
	font-family: "Courgette", cursive;
	font-size: 3em;
}

.texto-p {
	color: #f2f2f2;
}

.footerrevelado {
	width: 960px;
	text-align: center;
}

.footerrevelado h4 {
	background-color: #f2f2f2;
	color: darkcyan;
	padding: 2.8em;
	margin: 0;
}

@media screen and (max-width: 960px) {
	.padre {
		width: 100vw;
	}

	.imagen {
		width: 100vw;
	}

	.footer {
		width: 100vw;
		bottom: 0;
	}

	#contenedor {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}

	.contacto {
		width: 100vw;
		height: 800px;
	}

	.contv {
		width: 100vw;
		height: 100vh;
	}

	.contv video {
		min-width: 100vw;
		min-height: 100vh;
	}

	.header-overlay {
		min-width: 100vw;
		min-height: 100vh;
	}

	.footerrevelado {
		width: 100vw;
	}
}

@media screen and (max-width: 580px) {
	.padre {
		width: 100vw;
		height: 50px;
	}

	.menu ul li a {
		margin: 5px;
		height: 20px;
		line-height: 20px;
	}

	.logo a img {
		width: 50px;
	}

	.imagen {
		width: 100vw;
	}

	.footer {
		width: 100vw;
		bottom: 0;
		height: 0;
	}

	.footer h4 {
		margin: 0;
		background-color: white;
	}

	#contenedor {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}

	.contacto {
		width: 100vw;
		height: 800px;
	}

	.contac {
		height: 250px;
	}

	/* #r-texto h1 {
        font-size: 30px;
    } */

	.contv {
		width: 100vw;
		height: 100vh;
	}

	.contv video {
		min-width: 100vw;
		min-height: 100vh;
	}

	.header-overlay {
		min-width: 100vw;
		min-height: 100vh;
	}

	.footerrevelado {
		width: 100vw;
	}

	/* .footerrevelado h4 {
        padding: 15px;
    } */

	.revelado {
		flex-flow: column;
	}
}

@media screen and (max-height: 550px) {
	.contac {
		height: 200px;
	}

	.space1 {
		height: 80%;
	}

	.footer {
		margin: 0;
		padding: 0;
	}

	/* .footer h4 {
        padding: 15px;
        margin: 0;
    } */
}
